# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.c text
*.h text

# Autotools in the examples catalog needs to be in lf since they are 
# accessed from linux side via docker
*.ac text eol=lf
*.am text eol=lf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary